img{
    width: 150px;
}
.co{
    background: #1e4287;
}
.collapse:not(.show){
    display: block;
}
 /* menu header */
 .header{
    background: #fff;
 }
 
 /*logo*/
 .logo{
    padding-top: 12px;
 }

 /*header widget*/
 .header .header-widget{
    float: right;
    padding: 30px 0;
 }
.header .single-widget{
    float: left;
    position: relative;
    padding-left: 40px;
    padding-right: 30px;
}
.header .single-widget :last-child{
    margin: 0;
}
.header .single-widget i{
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 25px;
    color: #1e4287;
}
.header .header-widget h4{
    margin-bottom: 2px;
    font-size: 14px;
    text-transform: initial;
    font-style: 500;
}
.header .header-widget a{
    color: #555;

}
.header .header-inner{
    background: linear-gradient(135deg, 
    #061a31 0%, #1e4287 100%);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;

}
.header .mainmenu{
    float: left;
    width: 100%;

}
.header .nav li{
    position: relative;
    /*margin-right: 5px;*/
    list-style: none;

}
.header .nav li:last-child{
    margin-top: 0px;

}
.header .nav li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 22px 15px;
    position: relative;
    font-weight: 500;
    display: block;
}
.header .nav li:hover a, 
.header .nav li.active a{
    color: #fff;

}
.header .nav li i{
    margin-left: 8px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform:translateX (-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.header .nav li:hover a i{
    opacity: 1;
    visibility:visible;
    -webkit-transform: translateX(0%);
    -moz-transform:translateX (0%);
    transform: translateX(0%);
}
.header .nav li a::before{
    position: absolute;
    top: 0px;
    -webkit-transform: translateX(0%);
    -moz-transform:translateX (0%);
    transform: translateX(0%);
    content: '';
    border-top: 6px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-left:  -8%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -moz-transform:translateY(-100%);
    transform: translateY(-100%);

}
.header .nav li:active a::before,
.header .nav li:hover a::before{
    -webkit-transform: translateY(0%);
    -moz-transform:translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;

}
.header .nav .drop-down{
    position: absolute;
    z-index: 9;
    left: 0;
    top: 100%;
    width: 200px;
    background: #fff;
    border-top: 3px solid;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.40);
     padding: 5px 0;

}
.header .nav li:hover .drop-down{
    opacity: 1;
    visibility: visible;

}
.header .nav .drop-down{
    margin: 0;
}

.header .mainmenu .nav .drop-down li a{
    color: #353535;
    text-align: left;
    border-radius: 0px;
    background: transparent;
    padding: 10px 15px ;
    font-weight: 400;

}
.header .nav .drop-down li a::before{
    display: none;
}
.header .nav .drop-down li:hover a::before{
    color: #fff;
}
.header .nav .drop-down a i{
    margin-top: 5px;
    float: right;
    transform: translateX(0%);
    transition: none;
}
.navbar-nav{
    flex-direction: initial;
}
.header .nav li:hover a,
.header .nav .drop-down li:hover a,
.header .nav li:hover a,
.header .nav li.active,
.header .nav .drop-down a:hover{
    background-color: #1E4387;
}
.header .nav li a{
    text-decoration: none;
}
.header .nav li.active a::before,
.header .nav li:hover a::before{
    -webkit-transform: translateY(0%);
    -moz-transform:translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;

}
.social li{
    list-style: none;

}
.header .social {
    position: absolute;
    right: 0;
    top: 20px;

}
.header .social li{
    display: inline-block;
    margin-left: 8px;
}
.header .social li:last-child{
    margin: 0;
}
.header .social a{
    background: transparent;
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}
.header .social li .active a,
.header .social li:hover a{
    background:  #ffff;
}
.nav-area{
    position: relative;
}
.header .social li.active a,
.social li:hover a {
    background: #fff;
    color: #1e4287;
}
body {
    background-color: #061a31;
}
.img-fluid{
    width: 300px;
    height: 300px;
}
 /* menu header */